body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  flex-direction: column;
}
table {
  border: 1px solid black;
}
table td,
table th {
  padding: 10px;
  border: 2px solid black;
}
.filters {
  display: flex;
  padding: 10px;
}
.grow {
  flex-grow: 1;
}


#log{
    padding: 10px;
    color: red;
}

input,button,select{
    border: 1px solid black;
}